<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../styles/index.css">
        <title>Arquitectura de Computadoras</title>
    </head>
    <body>
        <div id="back"> 
        </div>
        <div id="container">
            <span id="title">
                Arquitectura de Computadoras
            </span>
            <div id="paragraph">
                <p>
                    A continuación podras conocer un sistema digital con tecnología microelectrónica capaz de procesar datos a partir de un grupo de instrucciones denominado programa mejor conocida como computadora. La estructura básica de esta incluye microprocesador (CPU), memoria y dispositivos de entrada/salida (E/S), junto a los buses que permiten la comunicación entre ellos.
                </p>
            </div>
            <a href="./pc.html">
                <div id="enter">
                    <span>
                        Conocer la Computadora
                    </span>
                </div>
            </a>
        </div>
        
    </body>
</html>