<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../styles/pc.css">
        <title>PC</title>

        

    </head>
    <body>
        <div id="selector">
            <input type="radio" name="componente" value="gabinete" onclick="changeComponente()">
            <span>
                Gabinete
            </span>
            <br>
            <input type="radio" name="componente" value="tarjetaMadre" onclick="changeComponente()">
            <span>
                Tarjeta Madre
            </span>
            <br>
            <input type="radio" name="componente" value="bios" onclick="changeComponente()">
            <span>
                BIOS
            </span>
            <br>
            <input type="radio" name="componente" value="chipset" onclick="changeComponente()">
            <span>
                Chipset
            </span>
            <br>
            <input type="radio" name="componente" value="cpu" onclick="changeComponente()">
            <span>
                CPU
            </span>
            <br>
            <input type="radio" name="componente" value="discoDuro" onclick="changeComponente()">
            <span>
                Disco Duro
            </span>
            <br>
            <input type="radio" name="componente" value="disipador" onclick="changeComponente()">
            <span>
                Disipador
            </span>
            <br>
            <input type="radio" name="componente" value="fuenteDePoder" onclick="changeComponente()">
            <span>
                Fuente De Poder
            </span>
            <br>
            <input type="radio" name="componente" value="ram" onclick="changeComponente()">
            <span>
                RAM
            </span>
            <br>
            <input type="radio" name="componente" value="tarjetaDeAudio" onclick="changeComponente()">
            <span>
                Tarjeta de Audio
            </span>
            <br>
        </div>

        <div id="info">
            <p id="data"></p>
        </div>

        <script src="https://threejs.org/build/three.js"></script>
        <script src="../Scripts/pc.js"></script>

        
        
    </body>
</html>